.company {
  background-color: var(--color-background);
}

.company__cards-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 3.75rem 0;
}

@media (max-width: 48rem) {
  .company__cards-box {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 36rem) {
  .company__cards-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 1rem;
    overflow-x: auto;
    padding: 3.75rem 0;
  }
}
