.company {
  background-color: var(--color-background);
}

.company__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.625rem 0;
  flex-wrap: wrap;
  gap: 1.875rem;
}

@media (max-width: 36rem) {
  .company__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 1rem;
    overflow-x: auto;
    padding: 3.75rem 0;
  }
}
