.footer {
  background-color: var(--color-dark-gray);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}

.footer__menu {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);

    &-text {
      padding: .1875rem 0;
      font: 400 .8125rem "Roboto", sans-serif;
      color: var(--color-dark-gray);
    }
}