.burger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  order: 1;
}

.header__burger {
  display: none;
}

.header__burger-menu-item {
  text-decoration: none;
  color: var(--color-dark-gray);
}

@media (max-width: 36rem) {
  .burger {
    display: block;
    z-index: 10;
    color: var(--color-dark-gray);
  }

  .header__burger-menu-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    transition: left 0.3s;
    z-index: 9;
    padding-top: 3.75rem;
    flex-direction: column;
    gap: 3.125rem;
    padding: 60px 20px 20px;
  }

  .header__burger-menu-nav.active {
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    align-items: start;
  }

.header__burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-delete {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 7px;
  border: none;
  background-color: inherit;
  font-size: 30px;
  color: var(--color-dark-gray);
}

.burger__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
}
