.header {
  border-bottom: 1px solid var(--color-line);
}

.header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem .625rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
}

.header__nav {
  margin-right: 3.75rem;
}

.header__menu {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  align-items: center;

  &-link {
    color: var(--color-dark-gray);
    text-decoration: none;
    font:
      400 1.25rem "Roboto",
      sans-serif;
  }
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}