.result {
  background-color: var(--color-background);
}

.result__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.625rem;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  &-picture {
    max-width: 10rem;
  }

  &-img {
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &-title {
      color: var(--color-gray);
      font:
        400 1.125rem "Roboto",
        sans-serif;
      line-height: 150%;
    }

    &-text {
      color: var(--color-light-gray);
      font:
        400 1.125rem "Roboto",
        sans-serif;
      line-height: 150%;
    }
  }
}

.result__description {
  display: flex;
  padding-top: 5.625rem;
  justify-content: center;
  align-items: center;

  &-picture {
    max-width: 45.625rem;
    max-height: 35.25rem;

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;

    &-title {
      font:
        400 2.5rem "Roboto",
        sans-serif;
      color: var(--color-gray);
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;

      &-item {
        color: var(--color-light-gray);
        font:
          400 1.125rem "Roboto",
          sans-serif;
        line-height: 170%;
      }
    }
  }
}
