.result {
  background-color: var(--color-background);
}

.result__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.625rem;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  &-picture {
    max-width: 10rem;
  }

  &-img {
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &-title {
      color: var(--color-gray);
      font:
        400 1.125rem "Roboto",
        sans-serif;
      line-height: 150%;
    }

    &-text {
      color: var(--color-light-gray);
      font:
        400 1.125rem "Roboto",
        sans-serif;
      line-height: 150%;
    }
  }
}

.result__description {
  display: flex;
  padding-top: 5.625rem;
  justify-content: center;
  align-items: center;

  &-picture {
    max-width: 45.625rem;
    max-height: 35.25rem;

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;

    &-title {
      font:
        400 2.5rem "Roboto",
        sans-serif;
      color: var(--color-gray);
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;

      &-item {
        color: var(--color-light-gray);
        font:
          400 1.125rem "Roboto",
          sans-serif;
        line-height: 170%;
      }
    }
  }
}

@media (max-width: 62rem) {
  .result__cards {
    padding-top: 3.75rem;
  }

  .result__cards-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: start;
  }

  .result__description {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
    display: flex;
    align-items: start;
  }

  .result__description-content-title {
    font-size: 1.875rem;
  }
}

@media (max-width: 48rem) {
  .result__description {
    display: flex;
    flex-direction: column;
  }

  .result__description-content-title {
    font-size: 1.5rem;
  }

  .result__description-content-text {
    font-size: 1rem;
  }
}

@media (max-width: 36rem) {
  .result__cards {
    display: flex;
    flex-direction: column;
  }

  .result__cards-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.875rem;
    border-top: 1px solid var(--color-line);
    padding: 1.25rem 0;
  }

  .result__cards-item-line {
    border-top: 1px solid var(--color-line);
  }

  .result__cards-content-text {
    font-size: 1rem;
  }

  .result__cards-content-title {
    font-size: 1rem;
  }

  .result__cards-picture {
    max-width: 8.125rem;
  }

  .result__cards-picture {
    max-width: 300px;;
  }

  .result__description {
    padding-top: 3.75rem;
  }



      .result__description-content {
        max-width: 31.875rem;
      }
}
