.sceth__content {
  display: flex;
  padding-top: 5.625rem;
  justify-content: center;
  align-items: center;

    &-desctiption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: .5rem;

        &-title {
          font: 400 2.5rem "Roboto", sans-serif;
          color: var(--color-gray);
        }

        &-text {
          font: 400 1.125rem "Roboto", sans-serif;
          color: var(--color-light-gray);
          padding-bottom: 1.375rem;
        }
    }
}

@media (max-width: 75rem) {
  .sceth__content {
    gap: 1.875rem;
  }
}

@media (max-width: 48rem) {
  .sceth__content-desctiption-title {
    font-size: 1.875rem;
  }

  .sceth__max-width {
    max-width: 360px;
  }

      .sceth__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3.75rem;
        padding-top: 3.75rem;
      }
}

