.shop__cards {
  padding: 5.625rem 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;

  &-item {
    display: flex;
    flex-direction: column;

    &-content {
      padding-top: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-title {
        font:
          400 1.875rem "Roboto",
          sans-serif;
        color: var(--color-gray);
      }

      &-subtitle {
        font:
          400 0.875rem "Roboto",
          sans-serif;
        color: var(--color-ultra-light-gray);
      }

      &-text {
        font:
          400 1.125rem "Roboto",
          sans-serif;
        color: var(--color-light-gray);
        line-height: 170%;
      }

      &-link {
        padding-top: 0.75rem;
        font:
          400 1.25rem "Roboto",
          sans-serif;
      }
    }
  }
}

.shop__cards-item-picture {
  max-width: 15.9375rem;
}

.shop__cards-item-picture-img {
  width: 100%;
}

@media (max-width: 62rem) {
  .shop__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .shop__cards-item-picture {
    max-width: 100%;
  }
}

@media (max-width: 36rem) {
  .shop__cards-item-content-title {
    font-size: 1.5rem;
  }

  .shop__cards-item-content-text {
    font-size: 0.875rem;
  }

  .shop__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }

  .shop__cards-item-picture {
    max-width: 100%;
  }

  .shop__cards-item-picture-img {
  width: 100%;
}

  .shop__cards-item {
    max-width: 31.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
