.shop__cards {
  padding: 5.625rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      max-width: 15.9375rem;

        &-picture {
          max-width: 15.9375rem;
          max-height: 11.25rem;

            &-img {
              width: 100%;
              height: 100%;
            }
        }

      &-content {
        padding-top: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

          &-title {
            font: 400 1.875rem "Roboto", sans-serif;
            color: var(--color-gray);
          }

          &-subtitle {
            font: 400 .875rem "Roboto", sans-serif;
            color: var(--color-ultra-light-gray);
          }

          &-text {
            font: 400 1.125rem "Roboto", sans-serif;
            color: var(--color-light-gray);
            line-height: 170%;
          }

          &-link {
            padding-top: .75rem;
            font: 400 1.25rem "Roboto", sans-serif;
          }
      }
    }
}

@media (max-width: 36rem) {
  .shop__cards-item-content-title {
    font-size: 1.5rem;
    padding-top: .9375rem;
  }

  .shop__cards-item-content-text {
    font-size: .875rem;
  }

  .result__description-content {
    max-width: 18.125rem;
  }

  .shop__cards  {
    padding-top: 3.75rem;
    gap: 3.125rem;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .shop__cards-item-picture {
    max-width: 18.125rem;
  }

  .shop__cards-item {
    max-width: 18.125rem;
  }

  .shop__cards-item-picture-img {
    width: 18.125rem;
  }
}