.shop__cards {
  padding: 5.625rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

        &-picture {
          max-width: 15.9375rem;
          max-height: 11.25rem;

            &-img {
              width: 100%;
              height: 100%;
            }
        }

      &-content {
        padding-top: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

          &-title {
            font: 400 1.875rem "Roboto", sans-serif;
            color: var(--color-gray);
          }

          &-subtitle {
            font: 400 .875rem "Roboto", sans-serif;
            color: var(--color-ultra-light-gray);
          }

          &-text {
            font: 400 1.125rem "Roboto", sans-serif;
            color: var(--color-light-gray);
            line-height: 170%;
          }

          &-link {
            padding-top: .75rem;
            font: 400 1.25rem "Roboto", sans-serif;
          }
      }
    }
}