@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto', sans-serif; // Подключаем шрифты
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  padding: 0 .625rem;
  max-width: 70.625rem;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 62rem) {
  .container {
  padding: 0 .625rem;
  }
}

.container__title {
  display: flex;
  gap: 7.8125rem;
  padding-top: 3.75rem;
}