@mixin flex-center {
  // Что бы использовать пишем @include flex-center
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// У меня почему то не работают миксины