
:root {
  // Базовые цвета - Основной цвет серый и его вариации

  --color-background: #EBEBEB; // Задний фон некоторых секций
  --color-line: #DDDDDD; // Линия в хедере

  --color-gray: #666666; 
  --color-dark-gray: #4C5866;
  --color-light-gray: #85859B;
  --color-ultra-light-gray: #B5B5BD;

  // Кнопки и ссылки - цвета и их вариации

  --color-light-blue: #7875FE; 
  --color-white: #FFFFFF;
  --color-ultra-blue: #DAD9FB;
  --color-blue: #4946B4;

}